[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/MQTT-C"]
	path = vendor/MQTT-C
	url = https://github.com/LiamBindle/MQTT-C.git
